################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Push/FileContentIndex/340e3be0-a06e-4bdb-8cab-3a64e6a1b1c7.vsidx
